header {
  max-width: 100%;
  background-color: #967979;

  .container2 {
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #a18686;

    .n1 {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      max-width: 600px;
      width: 100%;
      max-height: 63px;
      height: 100%;
      flex-shrink: 0;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 600px;
    width: 100%;
    li {
      a {
        font-family: "Courgette", cursive;
        color: rgb(251, 251, 252);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: 500ms;
        &:hover {
          color: rgb(219, 209, 209);
        }
      }
    }
  }
}

.container1 {
  height: 136px;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    li {
      h1 {
        color: var(--Secondary-1, #faf9f8);
        font-family: "Pacifico", cursive;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 100% */
        transition: 500ms;
        &:hover {
          color: rgb(219, 209, 209);
        }
      }

      ::placeholder {
        font-family: "Roboto", sans-serif;
        color: var(--Primary-7, #b6a1a1);
        font-size: 16px;
        font-style: normal;
        font-weight: 400px;
        height: 40px;
      }

      input[type="text"] {
        padding-left: 5px;
        padding-bottom: 9px;
        max-width: 600px;
        width: 100%;
        max-height: 40px;
        height: 100%;
        box-sizing: border-box;
        border: 2px solid #fcf9f9;
        border-radius: 8px;
        font-size: 30px;
        background: rgba(255, 255, 255, 0.5);
        background-color: #fcf9f9;
        background-image: url("searchicon.png");
        background-repeat: no-repeat;
        transition: 500ms;
        &:focus {
          background-color: rgb(219, 209, 209);
        }
      }

      .fa-magnifying-glass {
        font-size: 30px;
        color: #dec2c2;
        margin-left: 9px;
        transition: 500ms;
        &:hover {
          color: rgb(255, 255, 255);
        }
      }

      .fa-house {
        font-size: 30px;
        color: #fefbfb;
        transition: 500ms;
        &:hover {
          color: rgb(219, 209, 209);
        }
      }

      .fa-music {
        font-size: 30px;
        color: #fefbfb;
        margin-left: 16px;
        margin-right: 16px;
        transition: 500ms;
        &:hover {
          color: rgb(219, 209, 209);
        }
      }

      .fa-guitar {
        font-size: 40px;
        color: #fcf8fc;
        transition: 500ms;
        &:hover {
          color: rgb(219, 209, 209);
        }
      }
    }
  }
}

section {
  .con3 {
    .item {
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
  }

  .container00 {
    margin-top: 104px;
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;

    .card {
      max-width: 400px;
      width: 100%;
      max-height: 2000px;
      height: 100%;
      border-radius: 8%;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      box-shadow: 10px 5px 5px #d8bebe;
      background-color: #967979;
      transition: 500ms;
      background-color: #3e3c3c;
    }
    .img {
      background-image: url(/images/b3.jpg);
      background-color: #967979;
      border-radius: 8% 8% 0% 0%;
    }
    .n {
      font-family: "Dancing Script", cursive;
      font-size: 55px;
      color: rgb(252, 234, 234);
      font-weight: 50px;
    }

    .np {
      font-family: "Dancing Script", cursive;
      font-size: 30px;
      color: rgb(252, 234, 234);
      font-weight: 20px;
      vertical-align: center;
    }
  }
}

.ddng {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  .xsh {
    background-image: url("/images/xx.jpg");
    background-color: #dec2c2;
    height: 500px;
    width: 1240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-blend-mode: overlay;
    #myBtn {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 50px;
      width: 190px;
      font-family: "Roboto", sans-serif;
      font-size: 25px;
      color: rgb(255, 255, 255);
      background-color: #3f2d2d;
      border-radius: 15px;
      box-shadow: #7e6a6a 10px 3px 3px;
      transition: 500ms;
      &:hover {
        background-color: white;
      }
    }
    p {
      font-size: 20px;
      color: #000000;
      font-family: "Archivo", sans-serif;
    }
  }
}

.lox {
  margin-top: 104px;
  background-color: #a18686;
  max-height: 72px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  .fa-chevron-up {
    width: 24px;
    height: 24px;
    color: white;
  }
  .z {
    width: 96px;
    height: 16px;
    flex-shrink: 0;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
  }
}

.container11 {
  max-height: 424px;
  height: 100%;
  padding: 0px;
  background-color: #967979;
  .sx {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
  .gv {
    color: var(--Secondary-1, #faf9f8);
    font-family: "Pacifico", cursive;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
  }
  .sht {
    font-family: "Dancing Script", cursive;
    color: var(--Secondary-1, #faf9f8);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px; /* 166.667% */
  }

  h4 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 200% */
  }

  .sna {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 200px;
    max-height: 40px;
    height: 100%;
  }
  .fa-brands {
    font-size: 30px;
    color: #faf9f8;
  }
}
