header{
 max-height: 136px;
 max-width: 100%;
  
    .container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;

     .n1{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        max-width: 78px;
        width: 100%;
        max-height: 63px;
        height: 100%;
        flex-shrink: 0; ;
     }
     .n2{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
     }
      
        ul{
            
            li{
               .fa-guitar{
                size: 100px;
                color: #260606;
            
             }

             a{font-family: 'Roboto', sans-serif;
                color: rgb(19, 19, 94);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
                input[type=text] {
                    max-width: 188px;
                    width: 100%;
                    max-height: 21px;
                    height: 100%;
                    box-sizing: border-box;
                    border: 2px solid #ccc;
                    border-radius: 16px;
                    font-size: 16px;
                    background: rgba(217, 217, 217, 0.50);
                    background-image: url('searchicon.png');
                    background-position: 10px 10px; 
                    background-repeat: no-repeat;
                    padding: 12px 20px 12px 40px;
                
                  }
            }
        }
    }

}

