@charset "UTF-8";
/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  max-width: 100%;
  background-color: #967979;
}
header .container2 {
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #a18686;
}
header .container2 .n1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 600px;
  width: 100%;
  max-height: 63px;
  height: 100%;
  flex-shrink: 0;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 600px;
  width: 100%;
}
header ul li a {
  font-family: "Courgette", cursive;
  color: rgb(251, 251, 252);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 500ms;
}
header ul li a:hover {
  color: rgb(219, 209, 209);
}

.container1 {
  height: 136px;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container1 ul li h1 {
  color: var(--Secondary-1, #faf9f8);
  font-family: "Pacifico", cursive;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  transition: 500ms;
}
.container1 ul li h1:hover {
  color: rgb(219, 209, 209);
}
.container1 ul li ::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  color: var(--Primary-7, #b6a1a1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400px;
  height: 40px;
}
.container1 ul li ::placeholder {
  font-family: "Roboto", sans-serif;
  color: var(--Primary-7, #b6a1a1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400px;
  height: 40px;
}
.container1 ul li input[type=text] {
  padding-left: 5px;
  padding-bottom: 9px;
  max-width: 600px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #fcf9f9;
  border-radius: 8px;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.5);
  background-color: #fcf9f9;
  background-image: url("searchicon.png");
  background-repeat: no-repeat;
  transition: 500ms;
}
.container1 ul li input[type=text]:focus {
  background-color: rgb(219, 209, 209);
}
.container1 ul li .fa-magnifying-glass {
  font-size: 30px;
  color: #dec2c2;
  margin-left: 9px;
  transition: 500ms;
}
.container1 ul li .fa-magnifying-glass:hover {
  color: rgb(255, 255, 255);
}
.container1 ul li .fa-house {
  font-size: 30px;
  color: #fefbfb;
  transition: 500ms;
}
.container1 ul li .fa-house:hover {
  color: rgb(219, 209, 209);
}
.container1 ul li .fa-music {
  font-size: 30px;
  color: #fefbfb;
  margin-left: 16px;
  margin-right: 16px;
  transition: 500ms;
}
.container1 ul li .fa-music:hover {
  color: rgb(219, 209, 209);
}
.container1 ul li .fa-guitar {
  font-size: 40px;
  color: #fcf8fc;
  transition: 500ms;
}
.container1 ul li .fa-guitar:hover {
  color: rgb(219, 209, 209);
}

section .con3 .item {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
section .container00 {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  vertical-align: center;
}
section .container00 .card {
  max-width: 400px;
  width: 100%;
  max-height: 2000px;
  height: 100%;
  border-radius: 8%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: #967979;
}
section .container00 .card .img {
  background-image: url(/images/b3.jpg);
  background-color: #967979;
  border-radius: 8% 8% 0% 0%;
}
section .container00 .card .n {
  font-family: "Dancing Script", cursive;
  font-size: 55px;
  color: rgb(252, 234, 234);
  font-weight: 50px;
}/*# sourceMappingURL=global.css.map */